<!doctype html>
<html lang="en">
    <body>
        <head>
            <title> Flask Page </title>

            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <!-- jquery -->
            <script type="text/javascript" src="/assets/jquery.js"></script>

            <!-- bootstrap -->
            <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
            <script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>

            <!-- global site style -->
            <link rel="stylesheet" href="/css/site.css?v2.5">


        </head>
        <body>
            <div class="container cont-border col-xl-10 col-xl-offset-1">
                <div>
                    <header>
                        <div class="header-tit-cont">
                            <h1>Flask Site</h1> 
                        </div>
                        <div class="div-nav-cont">
                            <nav class="nav">
                                <a class="nav-link" href="#">Active</a>
                                <a class="nav-link" href="#">Link</a>
                                <a class="nav-link" href="#">Link</a>
                                <a class="nav-link" href="#">Disabled</a>
                            </nav>
                        </div>
                    </header>
                    <section>
                        <div id="content">
                            <h3>Product Content</h3>

                            <div class="container col-xl-10 col-xl-offset-1">
                                <div class="row">
                                    {% for item in products %}
                                        <div class="col-xl-2 prod-box">
                                            <span> {{ item.Name }} </span>
                                            <span> {{ item.Price }} </span>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                    </section>
                    <footer class="footer-stl">
                        <span>Foter - 2018</span>
                    </footer>
                </div>
            </div>
        </body>
    </body>
</html>